.vscode/settings.json
.vscode/c_cpp_properties.json
Assignment 7/it279_a07_q1/obj/BinaryHeap.o
Assignment 7/it279_a07_q1/obj/a7_q1_app.o
Assignment 7/it279_a07_q1/assign07_q1_ashkan
Assignment 7/it279_a07_q2/BinaryHeap.d
Assignment 7/it279_a07_q2/a7_q2_app.d
Assignment 7/it279_a07_q2/Student.d
Assignment 7/it279_a07_q2/enroll_test.txt
Assignment 7/it279_a07_q2/assign07_q2_ashkan
Assignment 7/it279_a07_q2/obj/a7_q2_app.o
Assignment 7/it279_a07_q2/obj/BinaryHeap.o
Assignment 7/it279_a07_q2/obj/Student.o
Assignment 8/a8_q1_app.d
Assignment 8/DisjSet.d
Assignment 8/assign08_ashkan
Assignment 8/DoubleHash.d
Assignment 8/Student.d
Assignment 8/obj/DoubleHash.o
Assignment 8/obj/Student.o
Assignment 8/obj/DisjSet.o
Assignment 8/obj/a8_q1_app.o
